// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
  font-family: 'Lexend Exa', sans-serif;
}

a {
  color: #8eb897;
}

.btn {
  background-color: #c3e8bd;
  height: 32px;
  border-radius: 8px;
  border: none;
}
